<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>vegetarian</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
   
      <jsp-config>
	   <jsp-property-group>
		   <url-pattern>*.jsp</url-pattern> <!-- 受影響的jsp頁面。這邊是所有的jsp -->
		   <el-ignored>false</el-ignored>       <!-- 是否忽略el -->  
		   <page-encoding>UTF-8</page-encoding> <!-- 預設頁面encoding -->
		   <scripting-invalid>false</scripting-invalid> <!-- 是否忽略scriptlet -->       
		   <include-prelude>/WEB-INF/jsp/parts/header.jspf</include-prelude> <!-- 在jsp前加入此頁 - 同等 include -->        
           <include-coda>/WEB-INF/jsp/parts/footer.jspf</include-coda> <!-- 在jsp後加入此頁 - 同等 include --> 
		   <trim-directive-whitespaces>true</trim-directive-whitespaces> <!-- 刪除空格內部元素以提高服務器頁面之間的速度響應 -->
		   <default-content-type>text/html</default-content-type> <!-- 設定頁面語法 -->
		   <buffer>16kb</buffer> <!-- 緩衝 加載 -->
	   </jsp-property-group>
   </jsp-config>

<!-- 讓.jspf檔案可以跟 .jsp檔案一樣 正常被Comiler成 servlet -->
   <servlet-mapping>
    	<servlet-name>jsp</servlet-name>
    	<url-pattern>*.jspf</url-pattern>
   </servlet-mapping>
   

   
  

  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PostIndexServlet</servlet-name>
    <servlet-class>PostIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostIndexServlet</servlet-name>
    <url-pattern>/postIndex</url-pattern>
  </servlet-mapping>

    
   <servlet>
   <servlet-name>loginIndex</servlet-name>
   <jsp-file>/loginIndex.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>loginIndex</servlet-name>
   <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
   <servlet>
   <servlet-name>reservationIndex</servlet-name>
   <jsp-file>/reservationIndex.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>reservationIndex</servlet-name>
   <url-pattern>/order.asp</url-pattern>
  </servlet-mapping>
  
   <servlet>
   <servlet-name>postsIndex</servlet-name>
   <jsp-file>/postsIndex.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>postsIndex</servlet-name>
   <url-pattern>/postsIndex</url-pattern>
  </servlet-mapping>
  
   <servlet>
   <servlet-name>shoppingcartIndex</servlet-name>
   <jsp-file>/shoppingcartIndex.jspf</jsp-file>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>shoppingcartIndex</servlet-name>
   <url-pattern>/shoppingcartIndex</url-pattern>
  </servlet-mapping>
  
   <servlet>
   <servlet-name>UserRegister</servlet-name>
   <jsp-file>/WEB-INF/jsp/Register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>UserRegister</servlet-name>
   <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>


      <servlet>
   <servlet-name>BusinessRegister</servlet-name>
   <jsp-file>/WEB-INF/jsp/BusinessRegister.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>BusinessRegister</servlet-name>
   <url-pattern>/BusinessRegister</url-pattern>
  </servlet-mapping>
  
     <servlet>
   <servlet-name>Logout</servlet-name>
   <jsp-file>/WEB-INF/jsp/Logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>Logout</servlet-name>
   <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
   <servlet-name>queryforumIndex</servlet-name>
   <jsp-file>/queryforumIndex.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>queryforumIndex</servlet-name>
   <url-pattern>/queryforumIndex</url-pattern>
  </servlet-mapping>
  
  <servlet>
   <servlet-name>QueryResult</servlet-name>
   <jsp-file>/WEB-INF/jsp/forum/QueryResult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>QueryResult</servlet-name>
   <url-pattern>/QueryResult</url-pattern>
  </servlet-mapping>
  
    <servlet>
   <servlet-name>Thank</servlet-name>
   <jsp-file>/WEB-INF/jsp/forum/Thank.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>Thank</servlet-name>
   <url-pattern>/Thank</url-pattern>
  </servlet-mapping>

</web-app>