<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TestWebDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>MS SQL Server DataSource Example</description>
    <res-ref-name>jdbc/veganDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
     <resource-ref>
    <description>MS SQL Server DataSource Example</description>
    <res-ref-name>jdbc/DBForum</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>

    
    <servlet>
   <servlet-name>Login</servlet-name>
   <jsp-file>/WEB-INF/jsp/Login.jsp</jsp-file>
  </servlet>
  
  
  <servlet-mapping>
   <servlet-name>Login</servlet-name>
   <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
   <servlet>
   <servlet-name>Reservation</servlet-name>
   <jsp-file>/WEB-INF/jsp/Reservation.jsp</jsp-file>
  </servlet>
  
  
  <servlet-mapping>
   <servlet-name>PostsTop</servlet-name>
   <url-pattern>/post</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>PostsTop</servlet-name>
  <jsp-file>/WEB-INF/jsp/PostsTop.jsp</jsp-file>
  </servlet>
  
  
  <servlet-mapping>
   <servlet-name>Reservation</servlet-name>
   <url-pattern>/order.asp</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
   <servlet-name>RestaurantServletDS</servlet-name>
   <servlet-class>RestaurantServletDS</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>RestaurantServletDS</servlet-name>
   <url-pattern>/map</url-pattern>
  </servlet-mapping>
  
   <servlet>
   <servlet-name>UserRegister</servlet-name>
   <jsp-file>/WEB-INF/jsp/Register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>UserRegister</servlet-name>
   <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ForumServlet</display-name>
    <servlet-name>ForumServlet</servlet-name>
    <servlet-class>ForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumServlet</servlet-name>
    <url-pattern>/ForumServlet</url-pattern>
  </servlet-mapping>
      <servlet>
   <servlet-name>BusinessRegister</servlet-name>
   <jsp-file>/WEB-INF/jsp/BusinessRegister.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
   <servlet-name>BusinessRegister</servlet-name>
   <url-pattern>/BusinessRegister</url-pattern>
  </servlet-mapping>

</web-app>